/*https://gist.github.com/robinrendle/1d20c566c5e5fbd67f25*/
/*Box sizing (the nuclear option)*/
html {
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -ms-box-sizing: inherit;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* Fix font rendering defaults */
html, button {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 100%;
}

html, body {
  height: 100%;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, input, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
}

/* IE fixes for HTML5 elements */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

strong, b, mark {
  font-weight: bold;
  font-style: inherit;
}

em, i, cite, q, address, dfn, var {
  font-style: italic;
  font-weight: inherit;
}

a, u, ins {
  text-decoration: none;
}

pre, code, samp, kbd {
  font-family: monospace;
}

iframe {
  width: 100%;
}

img {
  /*max-width: 100%;
     height: auto;
     -msinterpolation-mode: bicubic;*/
  border: none;
}

input, select, textarea {
  font: inherit;
}

button {
  cursor: pointer;
  font-size: 100%;
}

ol, ul, dl {
  list-style: none;
}

html, body {
  text-align: center;
}

body {
  font: normal 0.7em/1.6 Verdana, Arial, Helvetica, sans-serif;
  color: #3F4554;
  background-image: url(../images/structure/bg.gif);
}

h1 {
  font: 900 1.6em/2.4 Verdana, Arial, Helvetica, sans-serif;
  color: #c33;
  padding: 10px;
}

h2 {
  font-size: 16px;
  font-weight: 900;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #CC3333;
}

#wrapper {
  width: 60%;
  margin: 10px auto;
  padding: 10px 0;
  border: solid 1px #999;
  background-color: #FFF;
}

#box1 {
  border: solid 1px #dadada;
  background-image: url(../images/structure/bg_mid_blue2.gif);
  height: auto;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  width: 730px;
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 30px;
  padding-left: 0px;
}

#header {
  background-color: #FFFFFF;
  width: 700px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
  height: 200px;
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 0px;
  border: thin none #999999;
}

#nav {
  border: 8px none #FFFFFF;
  padding: 0px;
  width: 680px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  background-color: #FFFFFF;
  height: 37px;
}

#topbar {
  background-repeat: repeat-x;
  padding: 0px;
  border-bottom-width: 1px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-bottom-color: #dadada;
  height: 53px;
  background-image: url(../images/structure/topbar.png);
  width: 680px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  text-align: left;
}

#pics {
  border-bottom-width: 8px;
  border-top-style: none;
  border-bottom-style: solid;
  border-top-color: #cc3333;
  border-bottom-color: #cc3333;
  border-top-width: medium;
  width: 680px;
  margin-top: 4px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  height: 97px;
  border-right-style: none;
  border-left-style: none;
  padding: 0px;
  display: block;
  overflow: hidden;
}

#container {
  padding: 0px;
  width: 700px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  border: 1px none #dadada;
}

#content {
  float: left;
  border: 10px solid #FFFFFF;
  background-color: #FFFFFF;
  width: 440px;
  background-image: url(../images/structure/bg_lt_blue.gif);
  text-align: left;
  padding: 0px;
  margin: 0px;
}

#content p {
  border: 8px none #FFFFFF;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  text-align: left;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-size: 1em;
  line-height: 18px;
}

#content_wide {
  height: auto;
  float: left;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  border: 10px solid #FFFFFF;
  background-color: #FFFFFF;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-right: 12px;
  padding-bottom: 5px;
  padding-left: 12px;
  width: 660px;
  background-image: url(../images/structure/bg_lt_blue.gif);
  text-align: left;
}

#content a:link, #content a:visited, #content a:active {
  color: #336699;
  text-decoration: none;
  font-weight: bold;
}

#content a:hover {
  color: #006699;
  text-decoration: underline;
}

#sidebar {
  width: 220px;
  height: auto;
  float: right;
  background-color: #FFFFFF;
  border: thin none #999999;
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin: 0px;
}

#sidebox {
  font-size: 10px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
  height: auto;
  background-image: url(../images/structure/box_bg.jpg);
  background-repeat: repeat-x;
  background-position: top;
  text-align: left;
  background-color: #FFFFFF;
  width: 196px;
  border-top-width: thin;
  border-right-width: thin;
  border-bottom-width: thin;
  border-left-width: thin;
  border-top-style: none;
  border-right-style: solid;
  border-bottom-style: none;
  border-left-style: solid;
  border-top-color: #99CCCC;
  border-right-color: #99CCCC;
  border-bottom-color: #99CCCC;
  border-left-color: #99CCCC;
  line-height: normal;
  font-weight: 600;
  padding: 0px;
}

#sidebox a:link, #sidebox a:visited {
  font-weight: 600;
  color: #CC6666;
  text-decoration: none;
}

#sidebox a:hover, #sidebox a:active {
  font-weight: 600;
  color: #CC3333;
  text-decoration: underline;
}

#sidebox_brdr {
  font-size: 10px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 5px;
  margin-left: auto;
  border: thin none #CCCCCC;
  background-repeat: repeat;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 10px;
  padding-left: 2px;
  width: 200px;
  background-image: url(../images/structure/bg_mid_blue.gif);
}

#sidebox h1 {
  font-weight: 800;
  color: #FFFFFF;
  vertical-align: middle;
  list-style-image: url(../images/structure/red_button.gif);
  font-size: 12px;
  padding-top: 7px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 5px;
  background-image: url(../images/structure/bg_mid_blue2.gif);
  border-top-width: thin;
  border-right-width: thin;
  border-bottom-width: thin;
  border-left-width: thin;
  border-right-style: none;
  border-left-style: none;
  border-top-color: #FFFFFF;
  border-right-color: #666666;
  border-bottom-color: #666666;
  border-left-color: #FFFFFF;
  border-top-style: none;
  border-bottom-style: none;
  margin: 0px;
  height: 25px;
}

#sidebox h6 {
  font-weight: 800;
  color: #FFFFFF;
  vertical-align: middle;
  list-style-image: url(../images/structure/red_button.gif);
  font-size: 9px;
  background-image: url(../images/structure/bg_mid_blue2.gif);
  border-top-width: thin;
  border-right-width: thin;
  border-bottom-width: thin;
  border-left-width: thin;
  border-right-style: none;
  border-left-style: none;
  border-top-color: #FFFFFF;
  border-right-color: #666666;
  border-bottom-color: #666666;
  border-left-color: #FFFFFF;
  border-top-style: none;
  border-bottom-style: none;
  margin: 0px;
  padding-top: 0px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 5px;
  line-height: normal;
}

#sidebox p {
  font-weight: normal;
  color: #000000;
  vertical-align: middle;
  list-style-image: url(../images/structure/red_button.gif);
  font-size: 10px;
  margin: 0px;
  padding-top: 0px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 5px;
}

.clearer {
  font-size: 0px;
  height: 0px;
  width: 100%;
  display: block;
  clear: both;
}

h3 {
  font-size: 11px;
  font-weight: 600;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #000000;
  line-height: normal;
  padding: 0px;
}

textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

h4 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #000000;
  line-height: normal;
  padding: 0px;
  margin-top: 7px;
  margin-right: 0px;
  margin-bottom: 3px;
  margin-left: 0px;
  font-size: 11px;
}

#content_wide a:link, #content_wide a:visited, #content_wide a:active {
  color: #336699;
  text-decoration: none;
  font-weight: bold;
}

#content_wide a:hover {
  color: #006699;
  text-decoration: underline;
}

#navbutton a:link, #navbutton a:visited {
  background-image: url(../images/buttons/topbutton.gif);
  display: block;
  background-position: left top;
  background-repeat: no-repeat;
  height: 24px;
  width: 110px;
  margin: 0px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: 800;
  color: #00FFFF;
  text-decoration: none;
  font-size: 11px;
  text-align: center;
  letter-spacing: normal;
  padding-top: 8px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  float: left;
}

#navbutton a:hover {
  background-image: url(../images/buttons/topbutton.gif);
  display: block;
  background-position: left top;
  background-repeat: no-repeat;
  height: 24px;
  width: 110px;
  margin: 0px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: 800;
  color: #CC3300;
  text-decoration: none;
  font-size: 11px;
  text-align: center;
  letter-spacing: normal;
  padding-top: 8px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

h3 {
  font-size: 1.6em;
  margin: 0px;
}

a.sample_attach, a.sample_attach:visited, div.sample_attach {
  display: block;
  width: 100px;
  border: 1px solid black;
  background: #FFFFEE;
  text-decoration: none;
  font-family: Verdana, Sans-Sherif;
  font-weight: 900;
  font-size: 1em;
  padding-top: 2px;
  padding-right: 5px;
  padding-bottom: 2px;
  padding-left: 5px;
  float: left;
}

a.sample_attach, a.sample_attach:visited {
  border-bottom: none;
  float: left;
}

div#sample_attach_menu_child {
  border-bottom: 1px solid black;
  float: none;
}

form.sample_attach {
  position: absolute;
  visibility: hidden;
  border: 1px solid black;
  background: #FFFFEE;
  padding-top: 0px;
  padding-right: 5px;
  padding-bottom: 2px;
  padding-left: 5px;
}

form.sample_attach b {
  font-family: Verdana, Sans-Sherif;
  font-weight: 900;
  font-size: 1.1em;
}

input.sample_attach {
  width: 170px;
  margin-top: 1px;
  margin-right: 0px;
  margin-bottom: 1px;
  margin-left: 0px;
}

#no_display {
  display: none;
}

#content_wide h1 {
  font-size: 18px;
  font-weight: 900;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #cc3333;
  margin: 0px;
  line-height: 24px;
  padding: 0px;
}

/*# sourceMappingURL=main.css.map */
