/*https://gist.github.com/robinrendle/1d20c566c5e5fbd67f25*/
/*Box sizing (the nuclear option)*/
html {
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -ms-box-sizing: inherit;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* Fix font rendering defaults */
html, button {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 100%;
}

html, body {
  height: 100%;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, input, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
}

/* IE fixes for HTML5 elements */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

strong, b, mark {
  font-weight: bold;
  font-style: inherit;
}

em, i, cite, q, address, dfn, var {
  font-style: italic;
  font-weight: inherit;
}

a, u, ins {
  text-decoration: none;
}

pre, code, samp, kbd {
  font-family: monospace;
}

iframe {
  width: 100%;
}

img {
  /*max-width: 100%;
     height: auto;
     -msinterpolation-mode: bicubic;*/
  border: none;
}

input, select, textarea {
  font: inherit;
}

button {
  cursor: pointer;
  font-size: 100%;
}

ol, ul, dl {
  list-style: none;
}

body {
  font: normal 0.7em/1.6 Verdana, Arial, Helvetica, sans-serif;
  color: #3F4554;
  background-image: url(../images/structure/bg.gif);
}

h1 {
  font: 900 1.6em Verdana, Arial, Helvetica, sans-serif;
  color: #c33;
}

main {
  display: flex;
}

a {
  color: #069;
  font-weight: 700;
}

p {
  margin: 1em 0;
}

img {
  /*max-width: 100%;
     height: auto;
     -msinterpolation-mode: bicubic;*/
  border: none;
  width: 100%;
  height: auto;
  display: block;
}

nav {
  border-width: 0 0 0.3em 0;
  margin: 1.4em 0 0;
}
nav label, nav input {
  position: absolute;
  left: -9999px;
}

header nav > ul {
  display: flex;
}
header nav > ul > li {
  flex: 1 3 10em;
  position: relative;
  width: 15em;
}
header nav > ul > li:nth-child(4) {
  flex: 1 1 10em;
}
header nav > ul > li ul {
  position: absolute;
  left: -9999px;
}
header nav > ul > li ul li {
  width: 100%;
}

header nav > ul li ul li {
  background: #e9f0f2;
}

header nav > ul li:hover ul {
  width: 100%;
  border-top: solid 1px #999;
  box-sizing: content-box;
  left: -1px;
}

aside img {
  border: 1px solid #c33;
  border-width: 0 0 0.75em 0;
}

header {
  background: #a9c6cb url("../images/logo.gif") no-repeat 3% 20%;
  padding: 0 0 0;
  margin: 0 1em;
  border: 1em solid #FFF;
  background-image: url("../images/logo.gif"), linear-gradient(#FFF, #a9c6cb);
  background-position: 2% 0, left top;
  background-repeat: no-repeat, no-repeat;
}

header h1 {
  width: 7em;
  height: 0;
  background: url("../images/logo_txt.gif") no-repeat;
  background-repeat: no-repeat;
  padding: 0%;
  /* reset */
  padding-top: 1.736em;
  overflow: hidden;
  white-space: nowrap;
  margin: 4px 0 0 calc(90px + 20 * (100vw - 574px) / 706);
}

main#content {
  padding: 1em;
  background-image: none;
}

header nav > ul {
  text-align: center;
  width: auto;
  height: auto;
  border: 2px solid #FFF;
  border-width: 3px 0;
  background-image: linear-gradient(#FFF, #a9c6cb);
}
header nav > ul li {
  border: solid 1px #999;
  border-width: 0 1px 1px 1px;
}
header nav > ul li a {
  border-width: 0.5em 0 0;
  display: block;
  color: hsl(190deg, 25%, 55%);
  font-weight: bold;
  padding: 0.5em 0;
  width: 100%;
}
header nav > ul li > a:hover {
  color: #c33;
  background-image: linear-gradient(#a9c6cb, #FFF);
}
header nav > ul li > :nth-child(1) {
  border-left: solid 0 #FFF;
}

header nav > ul > li {
  border-right: solid 1px #999;
  border-left: solid 1px #FFF;
  border-top: 0.5em solid #c33;
}

main > section {
  flex: 5 1 10em;
  margin: 0 2em 0 0;
}

main > aside {
  flex: 3 1 10em;
}

main > * {
  border: solid 1em #FFF;
  padding: 1em;
  background-color: #e9f0f2;
}

main aside section {
  border: solid 1px black;
  text-align: center;
}

main aside section h2 {
  color: #FFF;
  text-transform: uppercase;
  line-height: 1;
  width: 100%;
  display: inline-block;
  vertical-align: top;
  background-color: #93b7be;
  padding: 0.8em 0;
  text-align: left;
  white-space: nowrap;
}

main aside section h2:before {
  content: "";
  width: 1em;
  height: 1em;
  color: #c33;
  background-color: #c33;
  display: inline-block;
  vertical-align: top;
  margin: 0 0.3em 0 0.5em;
  text-transform: uppercase;
  box-shadow: inset 1px 1px 2px rgba(255, 255, 255, 0.6), inset -1px -1px 2px rgba(0, 0, 0, 0.6);
}

main aside section a {
  color: #c33;
  display: block;
}

#wrapper {
  background-color: #a9c6cb;
  border: 1em solid #FFF;
  width: 90%;
  margin: 0.7em auto;
  padding: 0.7em 0;
  border: solid 1px #999;
}

/*# sourceMappingURL=main.css.map */
