/*@import 'base/_vars.scss';
@import 'base/_mix.scss';
*/
/*https://gist.github.com/robinrendle/1d20c566c5e5fbd67f25*/
/*Box sizing (the nuclear option)*/
html {
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -ms-box-sizing: inherit;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* Fix font rendering defaults */
html, button {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 100%;
}

html, body {
  height: 100%;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, input, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
}

/* IE fixes for HTML5 elements */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

strong, b, mark {
  font-weight: bold;
  font-style: inherit;
}

em, i, cite, q, address, dfn, var {
  font-style: italic;
  font-weight: inherit;
}

a, u, ins {
  text-decoration: none;
}

pre, code, samp, kbd {
  font-family: monospace;
}

iframe {
  width: 100%;
}

img {
  /*max-width: 100%;
     height: auto;
     -msinterpolation-mode: bicubic;*/
  border: none;
}

input, select, textarea {
  font: inherit;
}

button {
  cursor: pointer;
  font-size: 100%;
}

ol, ul, dl {
  list-style: none;
}

body {
  font: normal 0.75em/1.6 Verdana, Arial, Helvetica, sans-serif;
  color: hsl(223deg, 14%, 29%);
  position: relative;
  background-image: url("../assets/bg/misc/bg.gif");
}

h1 {
  font: 900 1.6em Verdana, Arial, Helvetica, sans-serif;
  color: hsl(0deg, 60%, 50%);
}

a {
  color: hsl(200deg, 100%, 30%);
  font-weight: 700;
}

nav {
  border-width: 0 0 0.3em 0;
  margin: 1em 0 0;
}

form {
  margin: 1em 0;
}

textarea {
  width: 95%;
  height: 10em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

img {
  /*max-width: 100%;
  height: auto;
  -msinterpolation-mode: bicubic;*/
  border: none;
  width: 100%;
  height: auto;
  display: block;
}

/* <strong><em>TEXT<em><strong> is frowned upon
so this is preferred: <strong class="em">TEXT<strong>
to simplify processing in JS using <b> tag and class of em for bold italics
*/
b.em {
  font-style: italic;
  color: purple;
}

/*
main span {
  background-color: yellow;
}

.foo {
  background-color: orange;
}
*/
form input {
  width: 90%;
}

table td {
  font-size: 0.9em;
  font-weight: bold;
}

input[type=submit],
input[type=checkbox] {
  width: auto;
  margin: 0 0.4em;
  display: inline-block;
}

footer ul,
footer p {
  margin: 1em auto 1em;
  text-align: center;
}

footer p {
  margin: 0 0 1em;
  color: white;
}

footer p a:link:after {
  content: " | ";
}

footer li {
  display: inline-block;
}

footer a {
  font-weight: normal;
  color: white;
}

footer li a {
  border: solid 1px;
  border-width: 0 1px 0 0;
  padding: 0 0.5em;
}

footer a:hover {
  color: hsl(0deg, 60%, 50%);
  border-color: white;
}

footer ul li:last-child a {
  border-width: 0;
}

main > section p {
  margin: 1.77em 0;
  font-size: calc(11px + 2 * (100vw - 300px) / 980);
}

main > section ul,
main > section ol {
  list-style: disc;
  list-style-position: inside;
  margin: 0 0 0 1em;
}

.no-js .portfolio main > section ul {
  list-style: none;
}

.no-js .portfolio main > section ul li {
  flex: 1 1 10em;
  display: inline-block;
  border: solid 1px blue;
}

main section ol {
  list-style: decimal;
}

article form p,
aside section h1 + p {
  font-size: 0.95em;
  margin: 0;
  width: 95%;
}

aside section {
  background-image: linear-gradient(hsl(190deg, 30%, 74%), #fff 60%);
  position: relative;
}

article form p {
  display: inline-block;
  vertical-align: text-top;
}

header nav > ul li ul li {
  background: hsl(190deg, 30%, 88%);
}

header nav > ul li:hover ul {
  width: 100%;
  border-top: solid 1px #999;
  box-sizing: content-box;
  left: -1px;
}

header aside img {
  border: 1px solid hsl(0deg, 60%, 50%);
  border-width: 0 0 0.75em 0;
}

header aside img:hover {
  filter: contrast(1.5);
}

header nav > ul {
  text-align: center;
  width: auto;
  height: auto;
  border: 2px solid #fff;
  border-width: 3px 0;
  background-image: linear-gradient(#fff, hsl(190deg, 30%, 68%));
}

header nav > ul li {
  border: solid 1px #999;
  border-width: 0 1px 1px 1px;
}

header nav > ul li a {
  border-width: 0.5em 0 0;
  display: block;
  color: hsl(190deg, 30%, 50%);
  font-weight: bold;
  padding: 0.5em 0;
  width: 100%;
  text-transform: capitalize;
}

header nav > ul li > a:hover {
  color: hsl(0deg, 60%, 50%);
  background-image: linear-gradient(hsl(190deg, 30%, 68%), #fff);
}

header nav > ul li > :nth-child(1) {
  border-left: solid 0 #fff;
}

header nav > ul > li {
  border-right: solid 1px #999;
  border-left: solid 1px #fff;
  border-top: 0.5em solid #c33;
}

main > * {
  border: solid 1em #fff;
  background-color: hsl(190deg, 30%, 92%);
}

main aside section {
  text-align: center;
  border: 1px solid hsl(190deg, 30%, 68%);
  border-width: 0 1px 1.5em;
  padding: 0 0 1em;
  line-height: 1.4;
  margin: 0 0 1.5em;
}

main aside section h2 {
  color: #fff;
  text-transform: uppercase;
  line-height: 1;
  width: 100%;
  display: inline-block;
  vertical-align: top;
  background-color: hsl(190deg, 30%, 73%);
  padding: 0.8em 0;
  text-align: left;
  white-space: nowrap;
}

main aside section h2 + a {
  margin: 2em 2em 1em;
}

main aside section h2:before {
  content: "";
  width: 1em;
  height: 1em;
  color: hsl(0deg, 60%, 50%);
  background-color: hsl(0deg, 60%, 50%);
  display: inline-block;
  vertical-align: top;
  margin: 0 0.3em 0 0.5em;
  text-transform: uppercase;
  box-shadow: inset 1px 1px 2px rgba(255, 255, 255, 0.6), inset -1px -1px 2px rgba(0, 0, 0, 0.6);
}

main aside section a {
  color: hsl(0deg, 60%, 50%);
  display: block;
}

.home main aside section,
.about main aside section,
main aside section:nth-child(n+2) {
  margin: 0;
}

.contact main > section {
  margin: 1em 1.5em 1.5em;
}

.contact .inner {
  padding: 2em 4em 1em;
  margin: 1em;
  border: solid 1px hsl(190deg, 30%, 61%);
}

.contact .inner {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 1.2em;
}

.contact tr:last-child td {
  color: red;
  text-align: center;
  margin: 0 auto;
}

.home nav > ul > li:nth-child(1) > a,
.home footer ul > li:nth-child(1) > a {
  color: hsl(0deg, 60%, 50%);
}

.about nav > ul > li:nth-child(2) > a,
.about footer > ul > li:nth-child(2) > a {
  color: hsl(0deg, 60%, 50%);
}

.webdesign nav > ul > li:nth-child(3) > a,
.webdesign footer > ul > li:nth-child(3) > a {
  color: hsl(0deg, 60%, 50%);
}

.graphicdesign nav > ul > li:nth-child(4) > a,
.graphicdesign footer > ul > li:nth-child(4) > a {
  color: hsl(0deg, 60%, 50%);
}

.contact nav > ul > li:nth-child(6) > a,
.contact footer > ul > li:nth-child(6) > a {
  color: hsl(0deg, 60%, 50%);
}

.portfolio nav > ul > li:nth-child(5) > a,
.portfolio footer > ul > li:nth-child(5) > a {
  color: hsl(0deg, 60%, 50%);
}

#wrapper footer ul > li > a {
  border-color: white;
}

.webdesign main aside section ul {
  margin: 1em 0 0;
}

.webdesign main aside section ul li:first-child, .graphicdesign main aside ul {
  font-weight: 700;
}

.graphicdesign main ul {
  list-style: disc;
  list-style-position: inside;
  text-align: left;
  margin: 1em 0 0 2em;
}

/*///////*/
@media only screen and (max-width: 668px) {
  footer span {
    display: block;
  }
  footer p a:last-of-type::after {
    content: "";
  }
}
@media only screen and (max-width: 550px) {
  footer ul {
    position: absolute;
    left: -9999px;
  }
  header h1 {
    width: 6.468em;
    padding-top: 1.586em;
  }
  header label {
    width: 4.62em;
    margin: 0 0 0 1em;
    height: 3.234em;
  }
}
@media only screen and (max-width: 360px) {
  footer p a:nth-child(2) {
    display: block;
  }
  footer p a:first-child:after {
    content: none;
  }
}
/*# sourceMappingURL=main.css.map */
main {
  display: flex;
}

header {
  padding: 0 0 0;
  margin: 1em 1.5em;
  border: 1em solid #fff;
  background-image: linear-gradient(#fff, hsl(190deg, 30%, 68%));
  background-position: 2% 0, left top;
  background-repeat: no-repeat, no-repeat;
}

header label {
  width: 7em;
  margin: 0 0 0 1.6em;
  height: 4.9em;
  display: inline-block;
  vertical-align: top;
  background: url("../assets/bg/misc/nw1_logo.png") no-repeat 3% 20%/cover;
}

header h1 {
  width: 9.8em;
  height: 0;
  background: transparent url("../assets/bg/misc/logo_txt.gif") no-repeat;
  padding: 0;
  /* reset */
  padding-top: 2.403em;
  overflow: hidden;
  white-space: nowrap;
  margin: 8px 0 0 calc(10px + 20 * (100vw - 320px) / 960);
  background-size: 98%;
}

main > section {
  flex: 5 1 20em;
  margin: 0 1.5em 0;
  padding: 1em;
}

main > aside {
  flex: 1 1 20em;
  background-color: white;
  margin: 0 1.5em 0 0;
}

header > a {
  display: inline-block;
  vertical-align: top;
}

header nav > ul {
  display: flex;
}

header nav > ul > li {
  flex: 1 3 10em;
  position: relative;
}

header nav > ul > li ul {
  position: absolute;
  left: -9999px;
  z-index: 1;
}

header nav > ul > li ul li {
  width: 100%;
}

#wrapper {
  background-color: hsl(190deg, 30%, 68%);
  border: 1em solid #fff;
  width: 80vw;
  margin: 0.7em auto;
  padding: 0;
  border: solid 1px #999;
}

#innerwrap:after {
  content: "";
  display: table;
  clear: both;
}

#menu-toggle {
  position: absolute;
  left: -9999px;
}

@media only screen and (max-width: 900px) {
  main {
    display: block;
  }
  aside {
    border-top: 0.4em solid white;
  }
  header {
    width: 100%;
    margin: 0 auto;
    padding: 1em 0 0;
    border-width: 0;
  }
  header label {
    margin: 0 0 0.6em 1.6em;
  }
  header > a {
    margin: 0 0 1em;
  }
  footer > figure {
    width: 100%;
  }
  main > section {
    margin: 0;
  }
  main > aside > section {
    width: 100%;
  }
  header nav {
    position: absolute;
  }
  header > nav ul {
    display: block;
    background: hsla(255deg, 100%, 100%, 0.9);
    border: 0 solid;
    text-align: left;
    line-height: 2;
    margin: -1em 0 0 2vw;
    display: inline-block;
    padding: 0 1em;
    box-shadow: 1px 1px 2px #000;
  }
  header > nav ul li {
    border: 1px solid #999;
    border-width: 0 0 1px;
  }
  header > nav ul li:last-child {
    border-width: 0;
  }
  header > nav ul li a {
    padding: 0;
  }
  header > nav ul li a:hover {
    background: none;
  }
  header > nav ul li ul {
    border-width: 0;
    top: 1px;
    padding: 0 0 0 10%;
    margin: 0 0 0 calc(90% + 1em);
    background-color: transparent;
    border-width: 0 !important;
    box-shadow: none;
  }
  header > nav ul li ul li {
    width: auto;
    box-shadow: none;
    border-width: 0 !important;
    background-color: rgb(244, 255, 255);
    padding: 0 1em;
  }
  .contact .inner {
    padding: 1em;
  }
  #menu-toggle:checked ~ a + nav {
    left: 8vw;
    z-index: 2;
  }
  #menu-toggle ~ a + nav,
main aside {
    position: absolute;
    left: -9999px;
  }
  #nav li ul {
    width: calc(100% + 2em);
  }
  header label {
    background: url("../assets/bg/misc/nw1_logo_sprite_alt.png") no-repeat center top/100%;
  }
  header label:hover {
    background-position: center 102%;
  }
}
/*///////*/
@media only screen and (max-width: 668px) {
  footer span {
    display: block;
  }
  footer p a:last-of-type::after {
    content: "";
  }
}
@media only screen and (max-width: 550px) {
  footer ul {
    position: absolute;
    left: -9999px;
  }
  header h1 {
    width: 6.468em;
    padding-top: 1.586em;
  }
  header label {
    width: 4.62em;
    margin: 0 0 0 1em;
    height: 3.234em;
  }
}
@media only screen and (max-width: 360px) {
  footer p a:nth-child(2) {
    display: block;
  }
  footer p a:first-child:after {
    content: none;
  }
}

/*# sourceMappingURL=main.css.map */
