body {
  font: normal 0.75em/1.6 Verdana, Arial, Helvetica, sans-serif;
  color: hsl(223, 14%, 29%);
  position: relative;
  background-image: url("../assets/bg/misc/bg.gif");
}

h1 {
  font: 900 1.6em Verdana, Arial, Helvetica, sans-serif;
  color: hsl(0, 60%, 50%);
}

a {
  color: hsl(200, 100%, 30%);
  font-weight: 700;
}

nav {
  border-width: 0 0 0.3em 0;
  margin: 1em 0 0;
}

form {
  margin: 1em 0;
}

textarea {
  width: 95%;
  height: 10em;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  /*max-width: 100%;
  height: auto;
  -msinterpolation-mode: bicubic;*/
  border: none;
  width: 100%;
  height: auto;
  display: block;
}


/* <strong><em>TEXT<em><strong> is frowned upon
so this is preferred: <strong class="em">TEXT<strong>
to simplify processing in JS using <b> tag and class of em for bold italics
*/
b.em {
  font-style: italic;
  color: purple;
}
/*
main span {
  background-color: yellow;
}

.foo {
  background-color: orange;
}
*/


form input {
  width: 100%;
}

table td {
  font-size: 0.9em;
  font-weight: bold;
}

input[type="submit"],
input[type="checkbox"] {
  width: auto;
  margin: 0 0.4em;
  display: inline-block;
}
footer ul,
footer p {
  margin: 1em auto 1em;
  text-align: center;
}

footer p {
  margin: 0 0 1em;
  color: white;
}

footer p a:link:after {
  content: " | ";
}
footer li {
  display: inline-block;
}

footer a {
  font-weight: normal;
  color: white;
}

footer li a {
  border: solid 1px;
  border-width: 0 1px 0 0;
  padding: 0 0.5em;
}

footer a:hover {
  color: hsl(0, 60%, 50%);
  border-color: white;
}
footer ul li:last-child a {
  border-width: 0;
}


main > section p {
  margin-top: calc(12px + 10 * (100vw - 574px) / (1280 - 574));
  margin-bottom: calc(12px + 10 * (100vw - 574px) / (1280 - 574));
  font-size: calc(12px + 1 * (100vw - 574px) / (1280 - 574));
}
main > section  ul,
main > section  ol {
  list-style: disc;
  list-style-position: inside;
  margin: 0 0 0 1em;
}

.no-js .portfolio main > section  ul {
  list-style: none;
}
.no-js .portfolio main > section  ul li {
  flex: 1 1 10em;
  display: inline-block;
  border: solid 1px blue;
}

main section  ol {
  list-style: decimal;
}

article form p,
aside section h1 + p {
  font-size: 0.95em;
  margin: 0;
  width: 95%;
}
aside section {
  background-image: linear-gradient(hsl(190, 30%, 74%), #fff 60%);
  position: relative;
}

article form p {
  display: inline-block;
  vertical-align: text-top;
}

header nav > ul li ul li {
  background: hsl(190, 30%, 88%);
}

header nav > ul li:hover ul {
  width: 100%;
  border-top: solid 1px #999;
  box-sizing: content-box;
  left: -1px;
}

header aside img {
  border: 1px solid hsl(0, 60%, 50%);
  border-width: 0 0 0.75em 0;
}
header aside img:hover {
  filter: contrast(1.5);
}

header nav > ul {
  text-align: center;
  width: auto;
  height: auto;
  border: 2px solid #fff;
  border-width: 3px 0;
  background-image: linear-gradient(#fff, hsl(190, 30%, 68%));
}
header nav > ul li {
  border: solid 1px #999;
  border-width: 0 1px 1px 1px;
}
header nav > ul li a {
  border-width: 0.5em 0 0;
  display: block;
  color: hsl(190, 30%, 50%);
  font-weight: bold;
  padding: 0.5em 0;
  width: 100%;
  text-transform: capitalize;
}
header nav > ul li > a:hover {
  color: hsl(0, 60%, 50%);
  background-image: linear-gradient(hsl(190, 30%, 68%), #fff);
}
header nav > ul li > :nth-child(1) {
  border-left: solid 0 #fff;
}

header nav > ul > li {
  border-right: solid 1px #999;
  border-left: solid 1px #fff;
  border-top: 0.5em solid #c33;
}

main > * {
  border: solid 1em #fff;
  background-color: hsl(190, 30%, 92%);
}

main aside section {
  text-align: center;
  border: 1px solid hsl(190, 30%, 68%);
  border-width: 0 1px 1.5em;
  padding: 0 0 1em;
  line-height: 1.4;
  margin: 0 0 1.5em;
}

main aside section h2 {
  color: #fff;
  text-transform: uppercase;
  line-height: 1;
  width: 100%;
  display: inline-block;
  vertical-align: top;
  background-color: hsl(190, 30%, 73%);
  padding: 0.8em 0;
  text-align: left;
  white-space: nowrap;
  font-size: calc(12px + 6 * (100vw - 574px) / (1280 - 574));
}
main aside section h2 + a {
  margin: 2em 2em 1em;
}
main aside section h2:before {
  content: "";
  width: 1em;
  height: 1em;
  color: hsl(0, 60%, 50%);
  background-color: hsl(0, 60%, 50%);
  display: inline-block;
  vertical-align: top;
  margin: 0 0.3em 0 0.5em;
  text-transform: uppercase;
  box-shadow: inset 1px 1px 2px rgba(255, 255, 255, 0.6),
    inset -1px -1px 2px rgba(0, 0, 0, 0.6);
}
main aside section a {
  color: hsl(0, 60%, 50%);
  display: block;
}

.home main aside section,
.about main aside section,
main aside section:nth-child(n + 2) {
  margin: 0;
}

.contact main > section {
  margin: 1em 1.5em 1.5em;
}

.contact .inner {
  padding: 2em 4em 1em;
  border: solid 1px hsl(190, 30%, 61%);
}

.contact .inner {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 1.2em;
}

.contact main > section {
  margin: 1em 1.5em 1.5em;
}
.contact .inner {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 1.2em;
  padding: 2em 4em 1em;
  margin: 1em;
  border: solid 1px hsl(190, 30%, 61%);
}
.contact form {
  display: flex;
  flex-wrap: wrap;
}
.contact form div {
  flex: 1 1 40%;
  padding: .5em 0;
}
.contact form div:nth-child(odd) {
  margin: 0 1em 0 0;
}
.contact form div:nth-child(odd) label, form p:last-of-type {
color: black;
}
.contact form label {
  margin: 0 0 .25em;
  display: block;
}
.contact form label:last-of-type, .contact textarea {
  flex: 1 1 100%;
}
.dial {
  font-size: 1.1em;
}


.contact div input[required], .contact textarea {
  color: black;
}
/*not on submit*/
.contact div > input {
  color: black;
}
.contact div input:focus, .contact textarea:focus {
  background-color: rgba(255,255,255, .25);
}
.contact textarea {
  margin: 0 0 1em;
}
#submit {
  margin-left: auto;
}

.home nav > ul > li:nth-child(1) > a,
.home footer ul > li:nth-child(1) > a {
  color: hsl(0, 60%, 50%);
}

.about nav > ul > li:nth-child(2) > a,
.about footer > ul > li:nth-child(2) > a {
  color: hsl(0, 60%, 50%);
}

.webdesign nav > ul > li:nth-child(3) > a,
.webdesign footer > ul > li:nth-child(3) > a {
  color: hsl(0, 60%, 50%);
}

.graphicdesign nav > ul > li:nth-child(4) > a,
.graphicdesign footer > ul > li:nth-child(4) > a {
  color: hsl(0, 60%, 50%);
}

.contact nav > ul > li:nth-child(6) > a,
.contact footer > ul > li:nth-child(6) > a {
  color: hsl(0, 60%, 50%);
}

.portfolio nav > ul > li:nth-child(5) > a,
.portfolio footer > ul > li:nth-child(5) > a {
  color: hsl(0, 60%, 50%);
}
#wrapper footer ul > li > a {
  border-color: white;
}

.webdesign main aside section ul {
  margin: 1em 0 0;
}
.webdesign main aside section ul li:first-child, .graphicdesign main aside ul {
  font-weight: 700;
}

.graphicdesign main ul {
  list-style: disc;
  list-style-position: inside;
  text-align: left;
  margin: 1em 0 0 2em;
}
