body {
  font: normal 0.75em/1.6 Verdana, Arial, Helvetica, sans-serif;
  color: hsl(223, 14%, 29%);
  position: relative;
  background-image: url("../assets/bg/misc/bg.gif");
}

main > * {
  border: solid 1em #fff;
  background-color: hsl(190, 30%, 92%);
  background-color: #e0ded7;
}

h1 {
  font: 900 1.6em Verdana, Arial, Helvetica, sans-serif;
  color: $col-hi;
}

a {
  color: hsl(200, 100%, 30%);
  font-weight: 700;
}

nav {
  border-width: 0 0 0.3em 0;
  margin: 1em 0 0;
}

form {
  margin: 1em 0;
}

textarea {
  width: 95%;
  height: 10em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  /*max-width: 100%;
  height: auto;
  -msinterpolation-mode: bicubic;*/
  width: 100%;
  height: auto;
  display: block;
}

form input {
  width: 100%;
}

footer ul,
footer p {
  margin: 1em auto 1em;
  text-align: center;
  color: white;
}

footer {
  & p {
    margin: 0 0 1em;
  }
  & li {
    display: inline-block;
    & a {
      border: solid 1px;
      border-width: 0 1px 0 0;
      padding: 0 0.5em;
      color: white;
    }
  }
  & a {
    font-weight: normal;
    color: white;
    &:hover {
      color: $col-hi;
      border-color: white;
    }
  }
  & ul li:last-child a {
    border-width: 0;
  }
  & p a:link:after {
    content: " | ";
    color: white;
  }
}

main > section p {
  margin-top: calc(12px + 10 * (100vw - 574px) / (1280 - 574));
  font-size: calc(12px + 1 * (100vw - 574px) / (1280 - 574));
}
main > section ul,
main > section ol {
  list-style: disc;
  list-style-position: inside;
  margin: 0 0 0 1em;
}

main section ol {
  list-style: decimal;
}

article form p,
aside section h1 + p {
  font-size: 0.95em;
  margin: 0;
  width: 95%;
}

main aside section {
  position: relative;
  text-align: center;
  border: 1px solid hsl(190, 30%, 68%);
  border-width: 0 1px 1.5em;
  padding: 0 0 1em;
  line-height: 1.4;
  margin: 0 0 1.5em;
  background-image: linear-gradient(hsl(190, 30%, 74%), #fff 60%);
  & a {
    color: $col-hi;
    display: block;
  }
  & h2 {
    color: #fff;
    text-transform: uppercase;
    line-height: 1;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    background-color: hsl(190, 30%, 73%);
    padding: 0.8em 0;
    text-align: left;
    white-space: nowrap;
    font-size: calc(12px + 6 * (100vw - 574px) / (1280 - 574));
    & + a {
      margin: 2em 2em 1em;
    }
  }
}

header aside img {
  border: 1px solid $col-hi;
  border-width: 0 0 0.75em 0;
  &:hover {
    filter: contrast(1.5);
  }
}

b.em {
  font-style: italic;
}

header nav > ul {
  text-align: center;
  width: auto;
  height: auto;
  border: 2px solid #fff;
  border-width: 3px 0;
  background-image: linear-gradient(#fff, $col-bg);

  & > li {
    border: solid 1px #999;
    border-width: 0 1px 1px 1px;
    border-left: solid 1px #fff;
    border-top: 0.5em solid $col-hi;

    a {
      border-width: 0.5em 0 0;
      display: block;
      color: $col-nav;
      font-weight: bold;
      padding: 0.5em 0;
      width: 100%;
    }

    & > a:hover {
      color: $col-hi;
      background-image: linear-gradient($col-bg, #fff);
    }

    & > :nth-child(1) {
      border-left: solid 0 #fff;
    }
    & > ul li {
      border: solid 1px #999;
      background-color: hsl(190, 30%, 88%);
      border-width: 0 1px 1px;
    }
    &:hover ul {
      width: 100%;
      border-top: solid 1px #999;
      left: -1px;
      box-sizing: content-box;
    }
    & a:hover {
      color: $col-hi;
      background-image: linear-gradient(hsl(190, 30%, 68%), #fff);
    }
  }
}

main aside section h2:before {
  content: "";
  width: 1em;
  height: 1em;
  color: $col-hi;
  background-color: $col-hi;
  display: inline-block;
  vertical-align: top;
  margin: 0 0.3em 0 0.5em;
  text-transform: uppercase;
  box-shadow: inset 1px 1px 2px rgba(255, 255, 255, 0.6),
    inset -1px -1px 2px rgba(0, 0, 0, 0.6);
}

input[type="submit"],
input[type="checkbox"] {
  width: auto;
  margin: 0 0.4em;
  display: inline-block;
}

.home main aside section,
.about main aside section,
main aside section:nth-child(n + 2) {
  margin: 0;
}

@for $i from 1 through length($navlist) {
  $l: nth($navlist, $i);

  #{$l} nav > ul > li:nth-child(#{$i}) > a,
  #{$l} footer > ul > li:nth-child(#{$i}) > a {
    color: $col-hi;
  }
}

.portfolio nav > ul > li:nth-child(5) > a {
  color: $col-hi;
}

.webdesign main > aside a:hover img {
  filter: contrast(1.5);
}

.webdesign main aside section ul {
  margin: 1em 0 0;
  color: black;
}
.webdesign main aside section ul li:first-child,
.graphicdesign main aside ul {
  font-weight: bold;
}

.graphicdesign main ul {
  list-style: disc;
  list-style-position: inside;
  text-align: left;
  margin: 1em 0 0 2em;
  color: black;
}

#wrapper footer ul > li > a {
  border-color: white;
}