main {
  @include flexy();
}

header {
  padding: 0;
  margin: 1em 1.5em;
  border: 1em solid #fff;
  background-image: linear-gradient(#fff, hsl(190, 30%, 68%));
  background-position: 2% 0, left top;
  background-repeat: no-repeat, no-repeat;
  & label {
  width: 7em;
  margin: 0 0 0 3em;
  height: 4.9em;
  display: inline-block;
  vertical-align: top;
  background: url("../assets/bg/misc/nw1_logo.png") no-repeat 3% 20% / cover;
}
& h1 {
  white-space: nowrap;
  margin: .2em 0 0 calc(10px + 16 * (100vw - 320px) / (1280 - 320));
  background: transparent url("../assets/bg/misc/logo.png") no-repeat;
  background-size: 98%;
  width: 10em;
  height: 0;
  padding: 0;
  /* reset */
  padding-top: 2.6em;
  overflow: hidden;
}
& a {
  display: inline-block;
  vertical-align: top;
}
}

main > section {
  margin: 0 1.5em;
  padding: 1em;
  @include prefix(flex, 5 1 20em, webkit ms moz);
}

main > aside {
  background-color: white;
  margin: 0 1.5em 0 0;
  @include prefix(flex, 1 1 20em, webkit ms moz);

}

header nav > ul {
  @include flexy();
  & > li {
    position: relative;
    @include prefix(flex, 1 3 10em, webkit ms moz);

  & ul {
    position: absolute;
    left: -9999px;
    z-index: 1;
    & li {
      width: 100%;
    }
  }
}
}

#wrapper {
  background-color: hsl(190, 30%, 68%);
  border: 1em solid #fff;
  width: 80vw;
  margin: 0 auto;
  padding: 0;
  border: solid 1px #999;
  overflow: hidden;
  max-width: 1024px;
}

#innerwrap:after {
  content: "";
  display: table;
  clear: both;
  overflow: hidden;
}

#menu-toggle {
  position: absolute;
  left: -9999px;
}
@media only screen and (max-width: 900px) {
  main {
    display: block;
  }
  main > section {
    margin: 0;
  }

  main > aside > section {
    width: 100%;
  }

  aside {
    border-top: 0.4em solid white;
  }

  header {
    width: 100%;
    margin: 0 auto;
    padding: 1em 0 0;
    border-width: 0;
    & nav {
      position: absolute;
      z-index: 1;
      & ul {
        background: hsla(255deg, 100%, 100%, 0.9);
        border: 0 solid;
        text-align: left;
        line-height: 2;
        margin: -1em 0 0 2vw;
        display: inline-block;
        padding: 0 1em;
        box-shadow: 1px 1px 2px #000;
        & li {
          border: 1px solid #999;
          border-width: 0 0 1px;
          &:last-child {
            border-width: 0;
          }
        }
      }
    }
  & label {
    margin: 0 0 0.6em 1.6em;
  }
  & > a {
    margin: 0 0 1em;
  }
}

  header > nav ul li a {
    padding: 0;
    &:hover {
      background: none;
    }
  }

  header > nav ul li ul {
    border-width: 0;
    top: 1px;
    padding: 0;
    margin: 0 0 0 100%;
    background-color: transparent;
    border-width: 0 !important;
    box-shadow: none;
    & li {
      width: auto;
      box-shadow: none;
      border-width: 0 !important;
      background-color: rgba(255,255,255, .99);
      padding: 0 1em;
    }
  }   

  .contact .inner {
    padding: 1em;
  }

  main aside,  #menu-toggle ~ a + nav {
    display: none;
  }

  #nav li ul {
    width: calc(100% + 2em);
  }

  header label {
    background: url("../assets/bg/misc/nw1_logo_sprite_alt.png") no-repeat center top / 100%;
    &:hover {
      background-position: center 102%;
    }
  }

  .contact form div:nth-child(4) {
    @include prefix(flex, 1 1 10%, webkit ms moz);
  }
  #menu-toggle:checked ~ a + nav {
    display: block;
    left: calc(8vw + 1px);
  }

}
@media only screen and (max-width: 667px) {
  
  footer span {
    display: block;
  }

  footer p a:last-of-type::after {
    content: "";
  }

  .contact form div:nth-child(even) {
    @include prefix(flex, 1 1 100%, webkit ms moz);
  }

  .contact form div:nth-child(odd) {
    margin: 0;
  }
  #wrapper {
    width: 100vw;
    margin: 0;
    border: solid 0 #999;
  }

  html body {
    margin: 0;
    padding: 0;
  }

  header nav ul {
    margin: -1em 0 0;
  }

  #menu-toggle:checked ~ a + nav {
    display: block;
    left: 1px;
  }

}
@media only screen and (max-width: 550px) {
  footer ul {
    position: absolute;
    left: -9999px;
  }

  header h1 {
    width: 6.468em;
    padding-top: 1.586em;
  }

  header label {
    width: 4.62em;
    margin: 0 0 0 1em;
    height: 3.234em;
  }
}
@media only screen and (max-width: 480px) {

  header h1 {
    margin-top: 4px;
    width: 10em;
    padding-top: 2.48em;
  }

  header label {
    width: 7.0875em;
    height: 4.91625em;
    margin-bottom: 0.3em;
  }

  footer {
    padding: 0.35em 0;
  }
}
@media only screen and (max-width: 360px) {
  footer p a:nth-child(2) {
    display: block;
  }

  footer p a:first-child:after {
    content: none;
  }
  #menu-toggle:checked ~ a + nav {
    left: 0;
  }
}