main {
  display: flex;
}

header {
  padding: 0 0 0;
  margin: 1em 1.5em;
  border: 1em solid #fff;
  background-image: linear-gradient(#fff, hsl(190, 30%, 68%));
  background-position: 2% 0, left top;
  background-repeat: no-repeat, no-repeat;
}

header label {
  width: 7em;
  margin: 0 0 0 1.6em;
  height: 4.9em;
  display: inline-block;
  vertical-align: top;
  background: url("../assets/bg/misc/nw1_logo.png") no-repeat 3% 20% / cover;
}

header h1 {
  width: 9.8em;
  height: 0;
  background: transparent url("../assets/bg/misc/logo_txt.gif") no-repeat;
  padding: 0;
  /* reset */
  padding-top: 2.403em;
  overflow: hidden;
  white-space: nowrap;
  margin: 8px 0 0 calc(10px + 20 * (100vw - 320px) / (1280 - 320));
  background-size: 98%;
}

main > section {
  flex: 5 1 20em;
  margin: 0 1.5em 0;
  padding: 1em;
}

main > aside {
  flex: 1 1 20em;
  background-color: white;
  margin: 0 1.5em 0 0;
}

header > a {
  display: inline-block;
  vertical-align: top;
}

header nav > ul {
  display: flex;
}
header nav > ul > li {
  flex: 1 3 10em;
  position: relative;
}

header nav > ul > li ul {
  position: absolute;
  left: -9999px;
  z-index: 1;
}
header nav > ul > li ul li {
  width: 100%;
}

#wrapper {
  background-color: hsl(190, 30%, 68%);
  border: 1em solid #fff;
  width: 80vw;
  max-width: 1024px;
  margin: 0.7em auto;
  padding: 0;
  border: solid 1px #999;
}
#innerwrap:after {
  content: "";
  display: table;
  clear: both;
}

#menu-toggle {
  position: absolute;
  left: -9999px;
}

@media only screen and (max-width: 900px) {
  main {
    display: block;
  }

  aside {
    border-top: 0.4em solid white;
  }

  header {
    width: 100%;
    margin: 0 auto;
      padding: 1em 0 0;
    border-width: 0;
  }

  header label {
    margin: 0 0 0.6em 1.6em;
  }
  header > a {
    margin: 0 0 1em;
  }

    footer > figure {
      width: 100%;
    }
    main > section {
      margin: 0;
    }
    main > aside > section {
      width: 100%;
    }
    header nav {
      position: absolute;
    }

    header > nav ul {
      display: block;
      background: hsla(255deg, 100%, 100%, 0.9);
      border: 0 solid;
      text-align: left;
      line-height: 2;
      margin: -1em 0 0 2vw;
      display: inline-block;
      padding: 0 1em;
      box-shadow: 1px 1px 2px #000;
    }
    header > nav ul li {
      border: 1px solid #999;
      border-width: 0 0 1px;
    }
    header > nav ul li:last-child {
      border-width: 0;
    }
    header > nav ul li a {
      padding: 0;
    }
    header > nav ul li a:hover {
      background: none;
    }
    header > nav ul li ul {
      border-width: 0;
      top: 1px;
      padding: 0 0 0 calc(10%);
      margin: 0 0 0 calc(90% + 1em);
      background-color: transparent;
      border-width: 0 !important;
      box-shadow: none;
    }
    header > nav ul li ul li {
      width: auto;
      box-shadow: none;
      border-width: 0 !important;
      background-color: rgb(244,255,255);
      padding: 0 1em;
    }
    .contact .inner {
      padding: 1em;
    }

  #menu-toggle:checked ~ a + nav {
    left: 8vw;
    z-index: 2;
  }
  #menu-toggle ~ a + nav,
  main aside {
    position: absolute;
    left: -9999px;
}
  #nav li ul {
    width: calc(100% + 2em);
  }
  header label {
    background: url("../assets/bg/misc/nw1_logo_sprite_alt.png") no-repeat center top / 100%;
  }
  header label:hover {
    background-position: center 102%;
  }
  .contact form div:nth-child(4) {
   flex: 1 1 10%;
 }
}

@media only screen and (max-width: 668px) {
  footer span {
    display: block;
  }
  footer p a:last-of-type::after {
    content: "";
  }
  .contact form div:nth-child(even) {
    flex: 1 1 100%;
  }
  .contact form div:nth-child(odd) {
    margin: 0;
  }
  #wrapper {
   width: 100vw;
   margin: 0;
   border: solid 0px #999;
 }
 html body {
   margin: 0;
   padding: 0;
 }
}
@media only screen and (max-width: 550px) {
  footer ul {
    position: absolute;
    left: -9999px;
  }
  header h1 {
    width: 6.468em;
    padding-top: 1.586em;
  }

  header label {
    width: 4.62em;
    margin: 0 0 0 1em;
    height: 3.234em;
  }
}

@media only screen and (max-width: 480px) {
  .contact main > section {
    margin: 0;
    padding: 0;
    border-width: 0;
    font-size: 0.6rem;
  }
  .contact .inner > * {
    margin: 0;
  }

  .contact .inner {
    border-width: 0;
  }
header h1 {
  margin-top: 4px;
  width: 10em;
  padding-top: 2.48em;
}

header label {
  width: 7.0875em;
  height: 4.91625em;
  margin-bottom: .3em;
  border: solid 1px blue;
}
footer {
  padding: .35em 0;
}
}

@media only screen and (max-width: 360px) {
  footer p a:nth-child(2) {
    display: block;
  }
  footer p a:first-child:after {
    content: none;
  }
}
