/*calc(22px + 22 * (100vw - 812px) / (1280 - 812));*/

.editing textarea {
  background-color: rgb(255, 255, 222);
}
textarea {
  background-color: rgb(255, 255, 255);
  transition: background-color 2s;
}
.editing input[type="submit"] {
  color: red;
}

.edit #editor,
.contact form {
  display: block;
}

#editor {
  display: none;
}

#editor,
.markdown_guide main > div {
  overflow: hidden;
}

#editor > a:last-child {
  margin: 0;
}
#editor > a,
.markdown_guide main > div > a {
  margin: 0 0.5em 0.5em 0;
  width: 3em;
  height: 0;
  padding: 0;
  padding-top: 3em;
  overflow: hidden;
  float: left;
  background: hsl(190, 30%, 68%) url(../assets/bg/markdown/edit_heading.png)
    no-repeat center/cover;
  border: solid 1px hsl(200, 100%, 30%);
  border-radius: 8px;
}

#editor > a:hover {
  color: #c33;
  background-color: #c33;
}
#editor > a:nth-child(2),
.markdown_guide main > div > a:nth-child(2) {
  background-image: url(../assets/bg/markdown/edit_list.png);
}
#editor > a:nth-child(3),
.markdown_guide main > div > a:nth-child(3) {
  background-image: url(../assets/bg/markdown/edit_bold.png);
}
#editor > a:nth-child(4),
.markdown_guide main > div > a:nth-child(4) {
  background-image: url(../assets/bg/markdown/edit_ital.png);
}
#editor > a:nth-child(5),
.markdown_guide main > div > a:nth-child(5) {
  background-image: url(../assets/bg/markdown/edit_span.png);
}
#editor > a:nth-child(6),
.markdown_guide main > div > a:nth-child(6) {
  background-image: url(../assets/bg/markdown/edit_link.png);
}
#editor > a:nth-child(7),
.markdown_guide main > div > a:nth-child(7) {
  background-image: url(../assets/bg/markdown/edit_img.png);
}
#editor > a:nth-child(8),
.markdown_guide main > div > a:nth-child(8) {
  background-image: url(../assets/bg/markdown/edit_unlink.png);
}
#editor > a:nth-child(9),
.markdown_guide main > div > a:nth-child(9) {
  background-image: url(../assets/bg/markdown/edit_revert.png);
}
#editor > a:nth-child(10) {
  background-image: url(../assets/bg/markdown/edit_help.png);
}
.markdown_guide .buttons {
  margin: 0 1.5em;
  padding: 0;
  background: white;
  border-width: 1em 1.5em 0;
}
.markdown_guide h2 {
  line-height: 1;
}
.markdown_guide h2 a:hover {
  color: #c33;
}
.markdown_guide main .buttons a {
  margin: 0 0.5em 0 0;
  border: solid 1px hsl(200, 100%, 30%);
  border-radius: 8px;
}

#guide {
  padding: 0 1em 1em;
  margin: 0 1.5em;
}

#guide li {
  margin: 1em 0 0;
}

#guide ol {
  margin: 0 0 1em;
}

.markdown_guide main aside {
  position: absolute;
  left: -9999px;
}

.markdown_guide main {
  display: block;
}

.markdown_guide main ul > li {
  font: 1.25em/1.5 Georgia, "Times New Roman", Times, serif;
}
.markdown_guide main ul ol {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 0 1em;
}
.markdown_guide main ul li strong {
  color: #c33;
  text-transform: uppercase;
}
@media only screen and (min-width: 812px) {
  #editor > a,
  .markdown_guide main > div > a {
    width: calc(18px + 26 * (100vw - 812px) / (1280 - 812));
    padding-top: calc(18px + 26 * (100vw - 812px) / (1280 - 812));
    border-radius: calc(2px + 6 * (100vw - 812px) / (1280 - 812));
  }
}
