$col-border: #999;
$col-body: #3F4554;
$col-nav: hsl(190, 30%, 50%);
$col-bg: lighten($col-nav, 18%);
$col-hi: #c33;
$navlist: ('#home' '#about' '#webdesign' '#graphicdesign', '#portfolio', '#contact');
$current: gold;

$font-fam:  Verdana, Arial, Helvetica, sans-serif;