.portfolio main > section {
  flex: 2 1 20em;
}

#slidepreview {
  width: 75%;
  padding: 1em;
  margin: 1em auto;
  border: solid 1px #999;
  max-height: 16em;
  overflow: hidden;
}
.portfolio #display {
  margin: 0 1.5em 0 0;
}

.portfolio #preview {
  margin: 1em auto 0;
}

#slideshow {
  margin: 0;
  overflow: hidden;
}
#slideshow.pause {
}
#slideshow.pause button:nth-child(3) {
  background-color: gainsboro;
}
#display {
  overflow: hidden;
  padding: 0 0 1vw;
}

#display .inner {
  margin: 1vw calc(4vw + (4 * (100vw - 900px) / (1280 - 900)));
  text-align: center;
  overflow: hidden;
}

.portrait #display .inner  {
  margin: 1vw 10vw;
}

#display img {
  float: left;
}

img#slide, body.swap img#base {
    position: absolute;
    left: -9999px;
    background-color: red;
}

.inplay img#slide {
  margin-left: -100%;
  position: static;
  left: 0;
}

body.swap img#slide {
  margin-left: 0;
}
/*

.inplay img#slide {
  margin-left: -100%;
}

.inplay img#base {
  display: block;
}
img#base,
.static img#base {
  display: none;
}

.static img#slide {
  margin-left: 0;
}
*/
#controls {
  display: flex;
  background-image: linear-gradient(transparent, hsl(190, 30%, 68%));
  align-content: center;
  padding: 1vw;
}

#buttons {
  flex: 1 1 5em;
  padding: 0.25em;
  display: flex;
  border: solid 1px yellow;
}

#slidecontainer {
  flex: 3 1 5em;
  display: flex;
  padding: 0 0.5em;
  border: solid 1px orange;
}
#slidecontainer p {
  font-size: calc(10px + (4 * (100vw - 900px) / (1280 - 900)));
  margin: 0;
  flex: 4 1 1em;
  align-self: center;
  text-align: center;
  min-width: 30px;
  border: solid 1px khaki;
}
#slidecontainer p span {
  font-weight: bold;
}
#slidecontainer p em {
  font-style: normal;
}
#slidecontainer input {
  flex: 10 1 1em;
  margin: 0 1em 0 0;
  height: 1.5em;
  align-self: center;
  border: solid 1px;
  -webkit-appearance: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 8px;
}

#slidecontainer input:hover {
  opacity: 1;
}

#slidecontainer input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 8px;
  background: hsl(190, 30%, 68%);
  cursor: pointer;
}

#slidecontainer input::-moz-range-thumb {
  background: hsl(190, 30%, 50%);
  cursor: pointer;
}

#myrange {
  position: relative;
  left: 0;
}

#buttons a:link {
  height: calc(21px + (9 * (100vw - 900px) / (1280 - 900)));
  margin: 0 5px 0 0;
  flex: 1 1 22px;
  background-repeat: no-repeat;
  background-position: 50% 0%;
  background-size: 100%;
}

#buttons a:last-child {
  margin: 0;
}

#start {
  background-image: url(../../assets/bg/sprites/backwards.png);
}

#back {
  background-image: url(../../assets/bg/sprites/backward.png);
}

#play,
.inplay .pause #play {
  background-image: url(../../assets/bg/sprites/play.png);
}

.inplay #play {
  background-image: url(../../assets/bg/sprites/pause.png);
}

#forward {
  background-image: url(../../assets/bg/sprites/forward.png);
}

#end {
  background-image: url(../../assets/bg/sprites/forwards.png);
}

#buttons a:hover {
  background-position: 50% 100%;
}

#navigation {
  position: relative;
  text-align: left;
  font-size: 0.8em;
  padding: 0;
}

#navigation ul {
  padding: 0.5em;
}

#navigation .submenu ul li a {
  background-color: hsl(190, 30%, 73%);
  padding: 0.25em;
  border: solid 1px black;
}

#navigation .submenu > a {
  background-color: hsl(190, 30%, 73%);
  color: hsl(217, 50%, 40%);
  padding: 0.25em 0.6em;
  border: solid 1px #999;
  border-width: 1px 0;
  border-color: white white gray;
}
#navigation .submenu > a.active {
  color: white;
}

#navigation .submenu > a:hover {
  color: hsl(0, 60%, 50%);
  text-decoration: underline;
}

#navigation a img {
  width: calc(18px + 16 * (100vw - 900px) / (1280 - 900));
  height: calc(18px + 16 * (100vw - 900px) / (1280 - 900));
}

#navigation .submenu ul li {
  overflow: hidden;
  margin: 0 0.3em;
  display: inline-block;
}

#navigation ul li.active a {
  border-color: hsl(0, 60%, 50%);
}

#navigation .submenu > a.active + ul li a:hover {
  border-color: orange;
}

.portfolio main > aside {
  flex: 1 2 10em;
  background-color: white;
}

#navigation .submenu > a:after {
  content: "+";
  color: white;
  float: right;
}

#navigation .submenu > a.active:after {
  content: "-";
}

#navigation .submenu ul {
  position: absolute;
  left: -9999px;
}

#navigation .submenu a.active + ul {
  position: relative;
  left: 0;
}

main#content {
  padding: 1em 0 0 1.5em;
  background-image: none;
}


.webdesign main > aside a:hover img {
  filter: contrast(1.5);
}

@media only screen and (max-width: 1200px) {
  #slidecontainer input {
    flex: 8 1 5em;
  }

  #slidecontainer p em:first-of-type {
    position: absolute;
    left: -9999px;
  }
}


@media only screen and (max-width: 900px) {
  #buttons a:link {
    height: calc(26px + 12 * (100vw - 667px) / (900 - 667));
    margin: 0 9px 0 0;
    border: solid 1px;
  }
  #slidecontainer p {
    font-size: calc(12px + (2 * (100vw - 574px) / (900 - 574)));
  }
  input#myrange {
    flex: 12 1 5em;
  }
  #slidecontainer input {
    flex: 9 1 2em;
  }
  #slidecontainer {
    flex: 2 1 5em;
  }
  #display .portrait {
    margin: 1vw 8vw;
  }
}

@media only screen and (max-width: 667px) {
  #slidecontainer input {
    position: absolute;
    left: -9999px;
  }
  #buttons a:link {
    height: calc(52px + 13 * (100vw - 574px) / (667 - 574));
  }
  #slidecontainer {
    flex: 1 1 5em;
  }
  #buttons {
    flex: 2 1 5em;
  }
  #slidecontainer p em:first-of-type {
    position: relative;
    left: 0;
  }
}


@media only screen and (max-width: 573px) {
  #buttons a:link {
    height: calc(28px + 36 * (100vw - 320px) / (573 - 320));
    margin: 0 2px 0 0;
  }

  #slideshow {
    margin: 0;
  }

}
@media only screen and (max-width: 413px) {
  #buttons {
    flex: 4 1 1em;
  }
  #buttons a:link {
    border: solid 1px yellow;
  }
  #slideshow p em:first-child {
    position: absolute;
    left: -9999px;
  }
}

#slidecontainer,
#buttons,
#buttons a:link,
#slidecontainer p {
  border-width: 0px;
}
