#slidepreview {
  width: 75%;
  padding: 1em;
  margin: 1em auto;
  border: solid 1px #999;
  overflow: hidden;
}
#navigation.portrait #slidepreview,
#navigation.portraity #slidepreview {
  width: 41.1%;
}
.portfolio #display {
  margin: 0 1.5em 0 0;
}
.portfolio #preview {
  margin: 1em auto 0;
}

#slideshow {
  margin: 0;
  overflow: hidden;
}

#display {
  overflow: hidden;
  padding: 0 0 1vw;
}

/*.swap .portait #display .inner, */
#display .inner {
  text-align: center;
  overflow: hidden;
  margin: 1vw calc(4vw + (4 * (100vw - 900px) / (1280 - 900)));
  transition: margin 1s;
}

.portrait #display .inner {
  margin: 1vw 10vw;
}

#display img {
  float: left;
}

img#slide,
body.swap img#base {
  display: none;
}

.inplay img#slide {
  display: block;
  margin-left: -100%;
}

body.swap img#slide {
  margin-left: 0;
}
/*
.inplay img#slide {
  margin-left: -100%;
}

.inplay img#base {
  display: block;
}
img#base,
.static img#base {
  display: none;
}

.static img#slide {
  margin-left: 0;
}
*/

#buttons {
  padding: 0.25em;
  border: solid 1px yellow;
}

#slidecontainer {
  padding: 0 0.5em;
  border: solid 1px orange;
}
#slidecontainer p {
  margin: 0;
  text-align: center;
  min-width: 30px;
  border: solid 1px khaki;
}
#slidecontainer p span {
  font-weight: bold;
}
#slidecontainer p em {
  font-style: normal;
}
#slidecontainer input {
  margin: 0 1em 0 0;
  height: 1.5em;
  border: solid 1px;
  opacity: 0.7;
}

#slidecontainer input:hover {
  opacity: 1;
}

#slidecontainer input::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  border-radius: 8px;
  background: #569099;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}

#slidecontainer input::-moz-range-thumb {
  background: #569099;
  cursor: pointer;
}

#myrange {
  position: relative;
  left: 0;
}

#buttons a:link {
  margin: 0 5px 0 0;
  background-repeat: no-repeat;
  background-position: 50% 0%;
}

#buttons a:last-child {
  margin: 0;
}

#start {
  background-image: url(../../assets/bg/sprites/backwards.png);
}

#back {
  background-image: url(../../assets/bg/sprites/backward.png);
}

#play,
.inplay .pause #play {
  background-image: url(../../assets/bg/sprites/play.png);
}

.inplay #play {
  background-image: url(../../assets/bg/sprites/pause.png);
}

#forward {
  background-image: url(../../assets/bg/sprites/forward.png);
}

#end {
  background-image: url(../../assets/bg/sprites/forwards.png);
}

#buttons a:hover {
  background-position: 50% 100%;
}

#navigation {
  position: relative;
  text-align: left;
  font-size: 0.8em;
  padding: 0;
}

#navigation ul,
.no-js #navigation label {
  padding: 0.5em;
}

#navigation .submenu ul li a,
.no-js #navigation a {
  background-color: hsl(190, 30%, 73%);
  padding: 0.25em;
  border: solid 1px black;
}

#navigation .submenu > a,
.no-js #navigation label {
  background-color: hsl(190, 30%, 73%);
  color: hsl(217, 50%, 40%);
  padding: 0.25em 0.6em;
  border: solid 1px #999;
  border-width: 1px 0;
  border-color: white white gray;
  font-weight: bold;
}
#navigation .submenu > a.active,
.no-js #navigation input:checked + label {
  color: white;
}

#navigation .submenu > a:hover,
.no-js #navigation label:hover {
  color: hsl(0, 60%, 50%);
  text-decoration: underline;
}

#navigation .submenu ul li {
  margin: 0.3em;
  display: inline-block;
}

#navigation ul li.active a {
  border-color: hsl(0, 60%, 50%);
}

#navigation .submenu > a.active + ul li a:hover {
  border-color: orange;
}

.portfolio main > aside {
  background-color: white;
}

#navigation .submenu > a:after,
.no-js #navigation input + label:after {
  content: "+";
  color: white;
  float: right;
}

#navigation .submenu > a.active:after,
.no-js #navigation input:checked + label:after {
  content: "-";
}

#navigation .submenu ul {
  position: absolute;
  left: -9999px;
}

#navigation .submenu a.active + ul {
  position: relative;
  left: 0;
}

main#content {
  padding: 1em 0 0 1.5em;
  background-image: none;
}

.no-js .portfolio main > section ul {
  list-style: none;
}
.no-js .portfolio main > section ul li {
  display: inline-block;
}
.no-js .portfolio main > section ul li a {
  display: block;
}
.no-js .portfolio main > section ul li {
  border: solid 1px blue;
}
.no-js .portfolio main > section ul li:hover {
  border: solid 1px #c33;
}

@media only screen and (max-width: 1200px) {
  #slidecontainer input {
    flex: 8 1 5em;
  }

  #slidecontainer p em:first-of-type {
    position: absolute;
    left: -9999px;
  }
}
#slidecontainer,
#buttons,
#buttons a:link,
#slidecontainer p {
  border-width: 0px;
}
html #wrapper {
  visibility: visible;
  opacity: 1;
}
.no-js #navigation a,
.no-js #navigation input {
  display: none;
}

.no-js #navigation label {
  display: block;
}

.no-js #navigation input.reveal:checked ~ a {
  display: inline-block;
  border: solid 1px blue;
  overflow: hidden;
}
.no-js #navigation input.reveal:checked ~ a {
  margin: 0 -4px 0 4px;
}
.no-js #navigation input.reveal:checked ~ a:nth-of-type(1) {
  /* using inline-block for no-js which has default LR margins, just need a top margin 
  on those in first row and it is enough to put the margin on the first <a> element*/
  margin: 4px -4px 0 4px;
}

.no-js #display {
  padding: 2em;
}
.no-js main > section:after {
  content: "When javascript is enabled this area will reflect the selected image from the sidebar, and provide controls for navigating the gallery. In the sidebar we present a pure css accordion providing access to each sub-gallery allowing the user the ability to view the hi-resolution images, electing to have the image open in the same window inviting the user to deploy the back button to implement the most basic navigation.";
}

@media only screen and (max-width: 900px) {
  #buttons a:link {
    margin: 0 9px 0 0;
    border: solid 0px;
  }

  #display .portrait {
    margin: 1vw 8vw;
  }

  .no-js main aside {
    display: block;
  }
  .no-js main > section:after {
    content: "Please enable javascript for enhanced viewing of gallery pictures";
    color: rgb(210, 40, 0);
  }
}

@media only screen and (max-width: 667px) {
  #slidecontainer input {
    position: absolute;
    left: -9999px;
  }

  #slidecontainer p em:first-of-type {
    position: relative;
    left: 0;
  }
  #tracked:before {
    content: "Image ";
  }
}

@media only screen and (max-width: 573px) {
  #buttons a:link {
    margin: 0 2px 0 0;
  }

  #slideshow {
    margin: 0;
  }
}
@media only screen and (max-width: 413px) {
  #slideshow p em:first-child {
    position: absolute;
    left: -9999px;
  }
}