.home main aside section {
  border-width: 0 1px 1px;
  padding: 0;
}
#phoney,
#audit {
  color: white;
  font: 2.5em bold;
  font-family:  "Alfa Slab One", "Impact", sans-serif;
  text-align: left;
  font-weight: 900;
  padding: 1em .6em;
  margin: 0.4em 0 0;
  position: relative;
  background-repeat: no-repeat;
  background-image: url(../../assets/bg/misc/phone.jpeg);
  text-shadow: 1px 1px 1px black;
}
#phoney:after {
  display: block;
  text-align: right;
  content: "01453 298527";
  color: rgba(244, 233, 111, 1);
  position: relative;
}

#audit {
  line-height: 0.6;
  text-align: right;
  padding: 0.9em;
  background-image: url(../../assets/bg/misc/audit.jpeg);
}

#audit strong {
  font-size: 2em;
  display: block;
  text-align: left;
  padding: 0.2em 0.75em;
  color: rgba(255, 166, 111, 1);
  position: relative;
}
#phoney strong {
  position: relative;
}
#audit em {
  position: relative;
  font-style: normal;
}
/*https://css-tricks.com/apply-a-filter-to-a-background-image/*/

@keyframes giffy {
  0% {
    background-image: url("../assets/bg/misc/bensondesign1_tmb.jpg");
  }
  33% {
    background-image: url("../assets/bg/misc/bensondesign2_tmb.jpg");
  }
  66% {
    background-image: url("../assets/bg/misc/bensondesign3_tmb.jpg");
  }
  100% {
    background-image: url("../assets/bg/misc/bensondesign4_tmb.jpg");
  }
}

#faux-gif {
  position: relative;
  top: 0;
  margin: 1em 5%;
  background-image: url("../assets/bg/misc/bensondesign1_tmb.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 90%;
  height: 0;
  padding: 0; /* reset */
  /*https://css-tricks.com/scale-svg/*/
  padding-bottom: calc(90% * 64 / 100);
  animation-duration: 12s;
  animation-delay: 1s;
  animation-iteration-count: 1s;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-name: gif;
  border: solid 1px red;
}
#faux-gif:hover {
  animation-play-state: paused;
}

#exit {
  width: 4em;
  height: 3.232em;
  margin: 0.5em 1em 5em;
  display: block;
  position: relative;
  left: 0;
  float: right;
  background-color: transparent;
  z-index: 2;
  text-indent: 100%;
  overflow: hidden;
  background-image: url("../../assets/bg/misc/underground_sprite.png");
  background-repeat: no-repeat;
  background-position: 50% 0%;
}
#exit:hover,
#exit:focus {
  background-position: 50% 100%;
}

#intro {
  background-color: rgba(116, 3, 7, 0.9);
  font-family: Georgia, serif;
  padding: 2em;
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
}

#intro p {
  margin: 0.5em;
  color: white;
  text-shadow: none;
  position: relative;
  z-index: 1;
}
#intro p:after {
  content: none;
}
#intro a {
  color: white;
  text-decoration: underline;
}