.home main aside section {
  border-width: 0 1px 1px;
  padding: 0;
}
#phoney,
#audit {
  color: white;
  text-shadow: 1px 1px 1px black;
  font: 2.7em bold, "Impact", sans-serif;
  background-image: url(../../assets/bg/misc/phone.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: left;
  padding: 0.7em;
  margin: 0.4em 0 0;
  position: relative;
}
#phoney:after {
  display: block;
  text-align: right;
  content: "01453 298527";
  font-size: 1.2em;
  color: rgba(244, 233, 111, 1);
  position: relative;
}

#audit {
  line-height: 0.6;
  text-align: right;
  padding: 0.9em;
  background-image: url(../../assets/bg/misc/audit.jpeg);
}

#audit strong {
  font-size: 2em;
  display: block;
  text-align: left;
  padding: 0.2em 0.75em;
  color: rgba(255, 166, 111, 1);
  position: relative;
}
#phoney strong {
  position: relative;
}
#audit em {
  position: relative;
  font-style: normal;
}
/*https://css-tricks.com/apply-a-filter-to-a-background-image/
#audit:before,
#phoney:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../assets/bg/misc/audit.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  filter: contrast(1);
}
#phoney:before {
  background-image: url(../../assets/bg/misc/phone.jpeg);
}
#audit:hover:before,
#phoney:hover:before {
  filter: contrast(2);
}
*/
#audit:hover,
#phoney:hover {
  filter: contrast(1.5);
}


@keyframes giffy {
  0%  { background-image: url("../assets/bg/misc/bensondesign1_tmb.jpg"); }
  33%  { background-image: url("../assets/bg/misc/bensondesign2_tmb.jpg");}
  66%  { background-image: url("../assets/bg/misc/bensondesign3_tmb.jpg"); }
  100% { background-image: url("../assets/bg/misc/bensondesign4_tmb.jpg");}
}

#faux-gif {
  position: relative;
  top: 0;
  margin: 1em 5%;
  background-image: url("../assets/bg/misc/bensondesign1_tmb.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 90%;
  height: 0;
  padding: 0; /* reset */
  /*https://css-tricks.com/scale-svg/*/
  padding-bottom: calc(90% * 64 / 100);
 animation-duration: 12s;
 animation-delay: 1s;
 animation-iteration-count: 1s;
 animation-fill-mode: forwards;
 animation-play-state: running;
 animation-name: gif;
 border: solid 1px red;
}
#faux-gif:hover {
  animation-play-state: paused;
}
